body {
    padding-bottom: 20px;
}

.row-top-spacer {
    margin-top: 25px;
}

.btn-team {
    border: 1px solid #eee;
}

.img-profile {
    border: 2px solid #eee;
    transition: all 0.2s ease-in-out;
}

    .img-profile:hover {
        border: 1px solid #eee;
    }

    .img-profile.img-profile-xs {
        width: 32px;
    }

    .img-profile.img-profile-md {
        width: 52px;
    }

    .img-profile.img-profile-lg {
        width: 80px;
    }

.table > tbody td {
    vertical-align: middle !important;
}

.table-clickable > tbody > tr:hover {
    cursor: pointer;
}

.navbar-champsroom .navbar-brand img {
    height: 60px;
    opacity: 0.35;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: static;
}

    .navbar-champsroom .navbar-brand img:hover {
        opacity: 1.0;
    }


@media (min-width: 768px) {
    .navbar {
        min-height: 60px;
    }

    .navbar-nav > li > a {
        line-height: 60px;
    }

    .navbar-champsroom {
        background-color: #fff;
        border: none;
    }

        .navbar-champsroom .navbar-nav > li > a:hover {
            color: #fff;
            background-color: #39b3d7;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
}
