@model ChampsRoom.Models.Team

<div class="row text-center">
    <h1>Edit team</h1>
    <p class="lead">Give your team a cool name</p>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()    
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Team name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" placeholder="Team name" value="@Model.Name" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}
