@model ChampsRoom.Models.OverviewTeamUsersViewModel

<div class="row text-center">
    <h1>Teams</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        @foreach (var item in Model.Teams)
        {
            <a href="@Url.Action("Details", "Team", new { teamUrl = item.Url })" class="btn btn-default">@item.Name</a>
        }
    </div>
</div>

<div class="row text-center">
    <h1>Players</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        @foreach (var item in Model.Users)
        {
            <a href="@Url.Action("Details", "User", new { userUrl = item.Url })" class="btn btn-default">@item.UserName</a>
        }
    </div>
</div>