@model IEnumerable<ChampsRoom.Models.League>

<div class="row row-top-spacer text-center">
    <div class="col-xs-12 col-md-12">
        <img src="~/content/images/champroom@2x.png" class="col-xs-12 col-md-12" />
    </div>
</div>

<div class="row row-top-spacer text-center">
    <p class="lead">Who's the Champ of the office?</p>

    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "League", new { slug = item.Slug })" class="btn btn-success btn-lg">@item.Name</a>
    }
</div>
